<!DOCTYPE html>
<!-- Alles scripts MOETEN in de <body> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Example</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
<!--    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>-->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>



</head>
<body>
<!--    <h1>Upload RAG Demo</h1>-->

    <div class="message_container">
        <ul id="messages">

        </ul>
    </div>


<!--    <div class="container">-->

    <div class="FileNaming">


                    <div class="bordered-container">
                        <div id="collectionNaming" data-placeholder="Begin typing..." contenteditable="true"></div>
                        <span class="border-text">Collectie naam</span>
                    </div>

                    <div class="bordered-container">
                        <div id="dataBaseNaming" data-placeholder="Begin typing..." contenteditable="true"> </div>
                        <span class="border-text">Database naam</span>
                    </div>

                    <div class="bordered-container2">
                                 <button class="upload-button" id="selectVectorDb" onclick="setVectorDB()">Kies deze vectordb</button>
                                 <button class="upload-button" id="uploadedFiles">Selecteer bestanden</button>
                                 <button id="uploadButton" onclick="UploadFiles()">Upload bestanden</button>
                                 <button id="sendLoadCommand" onclick="LoadInDatabase()">Maak vectordb</button>

                                  <span class="border-text">Collectie naam</span>
                    </div>
    </div>

    <div class="chatInput">
                     <input type="file" id="fileInput" multiple>

                     <div id="messageUser" contenteditable="true"></div>
                     <button id="sendButton" onclick="SendMsg()">Stuur</button>
    </div>
<!--    </div>-->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
   <script src="static\\js\\script.js"></script>
</body>
</html>
