<!DOCTYPE html>
<!-- Alles scripts MOETEN in de <body> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Example</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
<!--    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>-->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>

</head>
<body>
    <h1>Upload RAG Demo</h1>

    <ul id="messages"></ul>

<!--    <div class="container">-->

            <div class="FileNaming">


                    <div class="bordered-container">
                        <div id="collectionNaming" data-placeholder="Begin typing..." contenteditable="true"></div>
                        <span class="border-text">Collectie naam</span>
                    </div>

                    <div class="bordered-container">
                        <div id="dataBaseNaming" data-placeholder="Begin typing..." contenteditable="true"> </div>
                        <span class="border-text">Database naam</span>
                    </div>
            </div>

            <div class="chatInput">
                     <input type="file" id="fileInput" multiple>
                     <button class="upload-button" id="uploadedFiles">De betere knop</button>
                     <button id="uploadButton" onclick="UploadFiles()">Upload</button>
                     <div id="messageUser" contenteditable="true"></div>
                     <button id="sendButton" onclick="SendMsg()">Stuur</button>
            </div>
<!--    </div>-->
   <script src="static\\js\\script.js"></script
</body>
</html>
