<!DOCTYPE html>
<!-- Alles scripts MOETEN in de <body> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Example</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
<!--    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>-->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>



</head>
<body>
<!--    <h1>Upload RAG Demo</h1>-->



    <div class="sidebar" id="sidebar">
        <span id="sidebarText">Menu</span>
        <div class = "controls">
             <button id="buttonA" type="button" onclick="document.getElementById('configScreen').classList.remove('hidden') ">Niewe Chat Maken</button>
        </div>

        <ul id="chatsL"></ul>


    </div>



<button class="toggle-button" id="toggleButton" onclick="sideBar()">⮜</button>
    <div class="message_container">
            <ul id="messages"></ul>
    </div>
        <div class="FileNaming">


                        <div class="bordered-container">
                            <div id="collectionNaming" data-placeholder="Begin typing..." contenteditable="true"></div>
                            <span class="border-text">Collectie naam</span>
                        </div>

                        <div class="bordered-container">
                            <div id="dataBaseNaming" data-placeholder="Begin typing..." contenteditable="true"> </div>
                            <span class="border-text">Chat Name</span>
                        </div>

                        <div class="bordered-container2">
                                     <button class="upload-button" id="selectVectorDb" onclick="setVectorDB()">Kies deze vectordb</button>
                                     <button class="upload-button" id="uploadedFiles">Selecteer bestanden</button>
                                     <button id="uploadButton" onclick="UploadFiles()">Upload bestanden</button>
                                     <button id="sendLoadCommand" onclick="LoadInDatabase()">Maak vectordb</button>

                                      <span class="border-text">Collectie naam</span>
                        </div>
        </div>

        <div class="chatInput">
                         <input type="file" id="fileInput" multiple>
                         <div id="msgBox">
                             <div id="messageUser" contenteditable="true"></div>
                             <button id="sendButton" onclick="SendMsg()">Stuur</button>
                         </div>

        </div>

    <div id="configScreen" class="config-overlay hidden">
        <div class="config-container">
             <div class="bordered-container2">
                 <div class="namingElements">
                     <input type="text" id="collectionNaming" class="namingCol" placeholder="Enter Name Of Collection">
                     <input type="text" id="dataBaseNaming" class="namingCol" placeholder="Enter Name Of Chat">
                 </div>

                 <div class="bordered-container3">
                     <div class="inputset">
                         <span class="Infotext">Chat</span>
                         <div class="dropdown-container">
                            <input type="text" id="modelpicker1" class="modelpicker" placeholder="Select or type..." data-dropdown="dropdown1">
                            <ul id="dropdown1" class="dropdownOptions hidden" data-picker="modelpicker1">

                            </ul>

                         </div>
                     </div>
                     <div class="inputset">
                         <span class="Infotext">Embedding</span>
                         <div class="dropdown-container">
                            <input type="text" id="modelpicker2" class="modelpicker" placeholder="Select or type..." data-dropdown="dropdown2">
                            <ul id="dropdown2" class="dropdownOptions hidden" data-picker="modelpicker2">

                            </ul>

                         </div>
                     </div>
                     <div class="inputset">
                         <span class="Infotext">Rerank</span>
                         <div class="dropdown-container">
                            <input type="text" id="modelpicker3" class="modelpicker" placeholder="Select or type..." data-dropdown="dropdown3">
                            <ul id="dropdown3" class="dropdownOptions hidden" data-picker="modelpicker3">

                            </ul>

                         </div>
                     </div>
                     <span class="border-textModel">Model Configuration</span>
                 </div>
                 <div class="bordered-container3"><span class="border-textModel">Opdracht Prompt</span></div>


            <span class="border-textConfig">Configuration</span>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
   <script src="static\\js\\script.js"></script>
</body>
</html>
